@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(4.1% 0.143 20);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(4.1% 0.143 20);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(4.1% 0.143 20);
  --color-primary: oklch(10% 0.098 24);
  --color-primary-foreground: oklch(97.8% 0.091 60);
  --color-secondary: oklch(95.9% 0.048 60);
  --color-secondary-foreground: oklch(10% 0.098 24);
  --color-muted: oklch(95.9% 0.048 60);
  --color-muted-foreground: oklch(44.7% 0.053 25);
  --color-accent: oklch(95.9% 0.048 60);
  --color-accent-foreground: oklch(10% 0.098 24);
  --color-destructive: oklch(60.2% 0.842 0);
  --color-destructive-foreground: oklch(97.8% 0.091 60);
  --color-border: oklch(90% 0.059 20);
  --color-input: oklch(90% 0.059 20);
  --color-ring: oklch(4.1% 0.143 20);
  --radius-default: 0.5rem;
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}